.banner{
	height: 100vh; 
	color: white;
	background: linear-gradient(135deg,
										rgba(0, 0, 0, 0.8) 0%,
										rgba(0, 0, 0, 0.2) 50%),
		url("https://picsum.photos/seed/picsum/1000/500?random");
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
}

#img_Header {
	box-shadow: 5px 10px 10px black;
}

.Intro {

}