.product {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.product:hover {
	background: #e6e6e6;
}

.product-description {
	flex: 1 0 auto;
	padding: 10px;
}

.product-description h3{
	margin-bottom: 0px;
}

.product-description p{
	margin-bottom: 0px;
}

.product-upvotes {
	text-align: center;
  padding: 10px;
}

.product-list a{
	font-size: 20px;
	color: grey;
}